
h1{
  color: black;
  margin: 40px 0 0 40px;
}

body{
  background-color: #F7F7F7;
}

/* navigation links */
li.a{
  color: green;
  display: inline-block;
  margin: 40px;
  float: right;
  list-style-type: none;
}
/* title "MIa TRuman" */
li.title{
  font-size: 30px;
  margin: 30px 0 0 30px;
  display: inline-block;
  color: red;
  list-style-type: none;
}
/* LINK SETTINGS FOR TITLE */
  li.title a{
    color: black;
    text-decoration: none;
  }
  li.title a:visited{
    text-decoration: none;
  }
  li.title a:hover{
    /* text-decoration: underline; */
    /* color: black; */
    opacity: 30%;
  }
  li.title a:active{
    text-decoration: none;
  }
  /* LINK SETTINGS FOR NAV BAR */
  li.a a{
      color: black;
      text-decoration: none;
    }
  li.a a:visited{
      text-decoration: none;
    }
  li.a a:hover{
      /* text-decoration: underline; */
      /* color: black; */
      opacity: 30%;
    }
  li.a a:active{
      text-decoration: none;
    }







/* NOT IMPORTANT STUFF. DELETE LATER */
/* section{
  color: blue;
  display: flex;
  flex-direction: row;
}

div{
  display: inline;
  margin: auto;
} */
